.header_background {
  background-image: url("./shared/images/lab-217043_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_list {
  height: 3rem;
}